<div class='row'>
  <div class='col-md-12'>
    <div class='col-md-3'>
      <h1>TaskManagement</h1>
    </div>
    <div class='col-md-7 mt20'>
      <ul class="nav nav-pills">
        <li><a href='#/users' class="">Users</a></li>
        <li><a href='#/home' class="">Home</a></li>
        <li><a href='#/tasks' class="">Tasks</a></li>
        <li><a href='#/users/new' class="">New User</a></li>
        <li><a href='#/tasks/new' class="">New Task</a></li>
      </ul>
    </div>

  </div>
  <div class='col-md-12'>
    <div id='appNotice' class="alert alert-warning">
    </div>
  </div>
</div>