<div class='row'>
  <div class='col-md-12'>
    <div class='col-md-3'>
      <h1>TaskManagement</h1>
    </div>
    <div class='col-md-7 mt20'>
      <div class="col-md-1"><a href='#/users' class="btn btn-default">Users</a></div>
      <div class="col-md-1"><a href='#/home' class="btn btn-default">Home</a></div>
      <div class="col-md-1"><a href='#/tasks' class="btn btn-default">Tasks</a></div>
      <div class="col-md-1"><a href='#/users/new' class="btn btn-default">New User</a></div>
    </div>
  </div>
</div>