<strong>Home</strong>
<section id='appView'>
  <ul id='userListView'>
  </ul>
  <div id='userEditView'>
  </div>
  <a id='newUser' href='javascript:void(0)'>New User</a>
</section>
<script type="text/template" id='userListTemplate'>
  <span>Email:</span>
  <span><%%= get('email') %></span>
  <span>FullName:</span>
  <span><%%= completeName() %></span>
  <span>Phone:</span>
  <span><%%= get('phone') %></span>
  <span>Gender:</span>
  <span><%%= get('gender') %>
  <input type=button class=edit value=Edit>
  <input type=button class=delete value=delete>
  <div class=error></div>
</script>
<script type="text/template" id='userNewTemplate'>
  <span>Email:</span>
  <input class=email value=<%%= get('email') %> />
  <span>FirstName:</span>
  <input class=firstname value=<%%= get('firstname') %> />
  <span>LastName:</span>
  <input class=lastname value=<%%= get('lastname') %> />
  <span>Phone:</span><input class=phone value=<%%= get('phone') %> />
  <span>Gender:</span> <select class='gender'>
    <option value='Male'>Man</option>
    <option value='Female'>Woman</option>
  </select>
  <input type=button class=save value=Save />
  <div class=error></div>
</script>