<span>Email:</span>
<span><%= get('email') %></span>
<span>FullName:</span>
<span><%= completeName() %></span>
<span>Phone:</span>
<span><%= get('phone') %></span>
<span>Gender:</span>
<span><%= get('gender') %>
<input type=button class=edit value=Edit>
<input type=button class=delete value=delete>
<div class=error></div>